@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Commissioner", sans-serif;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.bg-primary {
  background: linear-gradient(135deg, #5048e5, #883bed);
}

.bg-secondary {
  background: linear-gradient(135deg, #883bed, #ab46dd);
}

.card-bg {
  background: linear-gradient(180deg, #fff, #f9fafb);
}

.text-primary {
  background: linear-gradient(135deg, #5048e5, #883bed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-secondary {
  background: linear-gradient(135deg, #883bed, #ab46dd);
  background: linear-gradient(135deg, #883bed, #ab46dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-class {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  padding: 0.5rem 0.75rem; 
  background-color: #ffffff; 
  font-size: 0.875rem; 
  outline: none;
}

.input-class:focus {
  outline: none; 
  box-shadow: 0 0 0 2px var(--primary-color); 
  border-color: var(--primary-color);
}
